{% extends 'base.html' %}
{% load staticfiles %}
{% load macros %}

                {% block cuerpo %}

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-container">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Versión</th>
                                        <th>Estado</th>
                                        <th>Fecha de creación</th>
                                        <th>Componente modificado</th>
                                        <th>Rama</th>
                                        <th>Autor</th>
                                        <th>Tag</th>
                                        <th>Motivo de cambio</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for v_a in dict_context.versions_available %}
                                    <tr>
                                        <td><a href="{% url 'application-versions-components' v_a.a_v.id %}"><i class="fa fa-cubes" aria-hidden="true"></i> {{ v_a.a_v.name }}</a></td>
                                        <td><i class="fa fa-line-chart" aria-hidden="true"></i> {{ v_a.a_v.state_application_version }}</td>
                                        <td><i class="fa fa-clock-o" aria-hidden="true"></i> {{ v_a.a_v.created | date:'Y-m-d H:i' }}</td>
                                        <td><a href="{% url 'artifact-details' v_a.ar_vs.artifact.id %}"><i class="fa fa-cube" aria-hidden="true"></i> {{ v_a.ar_vs.artifact }}</a></td>
                                        <td>{% if v_a.a_v.created_from_branch %}<i class="fa fa-code-fork" aria-hidden="true"></i> {{ v_a.a_v.created_from_branch }}{% endif %}</td>
                                        <td>{% if v_a.a_v.email %}<i class="fa fa-user-o" aria-hidden="true"></i> {{ v_a.a_v.email }}{% endif %}</td>
                                        <td><a href="{{ v_a.bitbucket_url }}" target="_blank"><i class="fa fa-bitbucket" aria-hidden="true"></i> {{ v_a.ar_vs.name }}</a></td>
                                        <td>
                                            {% for vcl in v_a.cl %}
                                            <ul>
                                                <li>{{ vcl.name }}</li>
                                            </ul>
                                            {% empty %}
                                            -
                                            {% endfor %}
                                        </td>
                                        <td align="center">
                                            <a href="{% url 'application-delete' v_a.a_v.id %}">
                                                <img src="{% static 'dashboard/img/delete.gif' %}">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

                {% endblock %}





