{% extends 'base.html' %}
{% load staticfiles %}

                {% block cuerpo %}

                <div class="row">
                    <div class="col-lg-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <font color="green"><h3 class="panel-title">Password actualizada correctamente</h3></font>
                            </div>
                        </div>
                    </div>
                </div>

                {% endblock %}
