{% extends 'base.html' %}
{% load staticfiles %}

                {% block cuerpo %}

                <div class="row">
                    <div class="col-lg-3">

                        <form role="form" action="" method="post">{% csrf_token %}
                            <div class="form-group input-group">
                                <label for="id_old_password">Password actual:</label><br><input type="password" name="old_password" class="form-control" autofocus required id="id_old_password" />
                            </div>
                            <div class="form-group input-group">
                                <label for="id_new_password1">Nueva password:</label> (mínimo 8 caracteres)<br><input type="password" name="new_password1" class="form-control" required id="id_new_password1" />
                            </div>
                            <div class="form-group input-group">
                                <label for="id_new_password2">Confirma nueva password:</label><br><input type="password" name="new_password2" class="form-control" required id="id_new_password2" />
                            </div>
                            <div class="form-group input-group">
                                <input type="submit" class="form-control" value="Guardar cambios">
                            </div>
                        </form>

                        {% if errors %}
                        {% for error in errors %}
                        <font color="red">{{ error }}</font>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>

                {% endblock %}
